/* Botoes */

button, 
input[type=button],
.bt {
    background-color: transparent;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 3px;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.2),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.2),inset 0 0 0em 0.05em rgba(255,255,255,0.2);
    font-size: 15px;
    height: 32px;
    padding: 0 15px;
    transition: .3s;
    width: auto;
}

button:active, 
input[type=button]:active,
.bt:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.2),inset 0 0 0em 0.05em rgba(255,255,255,0.2);
    transition: 0s;
    background-color: rgba(0,0,0,.08);
}

button:disabled, 
input[type=button]:disabled,
.bt:disabled {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.2),inset 0 0 0em 0.05em rgba(255,255,255,0.2);
    transition: 0s;
    background-color: rgba(0,0,0,.1);
}

.btMain {
    cursor: pointer;
    margin: auto 5px;
    color: black;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 90%;
    transition: 0.4s;
}

.btCadastrar:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.btLimpar:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.btCancelar:hover {
    background-color: #eee;
    color: darkred;
    border-color: darkred;
}

.btConfirmar:hover {
    background-color: #eee;
    color: forestgreen;
    border-color: forestgreen;
}

.btEnviar:hover {
    background-color: white;
    color: forestgreen;
	border-color: forestgreen;
}

.opt_bt {
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

a.opt_bt {
    margin: auto 5px;
    height: auto;
    width: 20px;
}

.opt_edit {
    background-image: url("/static/img/edit.png");
    background-size: 80%;
}

.opt_delete {
    background-image: url("/static/img/delete.png");
    background-size: 80%;
}

.opt_forward {
    background-image: url("/static/img/forward.svg");
    background-size: 80%;
}

.opt_add {
    background-image: url("/static/img/add.svg");
    background-size: 80%;
}

.opt_formula {
    background-image: url("/static/img/formula.svg");
    background-size: 80%;
}

button:disabled:hover, 
input[type=button]:disabled:hover,
.bt:disabled:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.2),inset 0 0 0em 0.05em rgba(255,255,255,0.2);
    transition: 0s;
}