table {
	margin: auto;
	width: 90%;
}

table input:not([type=checkbox]), table select {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	height: auto;
	width: 100%;
}

table input:read-only, table input:read-only:focus {
    border: 1px solid transparent;
}

table td * {
	margin: auto;
}

tr:hover:last-child {
	background-color: #eee;
}

.opt_bt {
	cursor: pointer;
}

.add_row td {
	border: 1px solid transparent;
	border-bottom-color: black;
	border-top-color: black;
}

.add_row td:first-child {
	border-left: 1px solid black;
}

.add_row td:last-child {
	border-right: 1px solid black;
}

.form-row .formInput {
	text-align: center;
	width: 60%;
}

.form-row .formInput, .form-row .formInput {
	border: 1px solid transparent;
	background-color: white;
	background-color: rgba(255,255,255,0.1);
	text-align: center;
	transition: .3s;
	width: 70%;
}

.form-row .formInput input.error-active, .form-row .formInput select.error-active {
	border-color: #AD0000;
}

.form-row .formInput input:hover, .form-row .formInput input:focus,
.form-row .formInput select:hover, .form-row .formInput select:focus {
	background-color: white;
	background-color: rgba(255,255,255,0.7);
}

.form-row input:focus, .form-row select:focus {
	border-color: yellow;
}

.botaoContainer {
	width: 95%;
    margin: 15px auto;
}