<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/usuario/user_main.css">
</head>
<body>

	<div id ="ldc_logout" class="logoutDispContainer">
		<div class="logoutCheckWindow">
		</div>
		<div class="logoutCheckMessage">
			<h2 class="h2_logoutMessage">Tem certeza que deseja sair ?</h2>
			<br/>
			<div class="bt_logoutContainer">
				<button class="btMain btCancelar" onclick="logoutDisplayOff()">Cancelar</button>
				<a href="/logout"><button class="btMain btConfirmar">Confirmar</button></a>
			</div>
		</div>
	</div>
	
	<div class="um_title">
		<h1>Página do Usuário</h1>
	</div>

</body>
</html>
