.flex_row_nw {
	display: flex;
	flex-flow: row nowrap;
}

.flex_row_w {
	display: flex;
	flex-flow: row wrap;
}

.flex_col_nw {
	display: flex;
	flex-flow: column nowrap;
}

.flex_col_w {
	display: flex;
	flex-flow: column wrap;
}

.hidden {
    display: none;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.row_center {
	justify-content: center;
}

.txt_center {
	text-align: center;
}

.divisor {
    background-color: #666;
    height: 1px;
    margin: 10px auto;   
    width: 80%;
}

.overlayBG {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	pointer-events: none;
	z-index: 1;
}