<html>
<header>
	<title>SGE - Home Page</title>
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
	<link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/CadastrarProduto.css"/>
</header>

<body>
	<h1> Cadastrar Produto </h1>
	
	<section>
		<div class="formContainer">
			<form method="POST">
				<div class="formInputContainer">
				{% for field in form %}
					{{field.errors}}
					<div class="formInput">
						<div class="label">{{field.label_tag}}</div>
						<div class="input">{{field}}</div>
					</div>
				{% endfor %}
				</div>
				<div class="botaoContainer">
					<button class="btMain btLimpar" type="submit">Limpar</button>
					<button class="btMain btCadastrar" type="submit">Cadastrar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>