/* TAGS */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline-color: yellow;
}

h1 {
    width: 300px;
    color: black;
    text-align: center;
    margin: auto auto;
}

h2 {}

body {
    margin: 0;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 120px;
    background-color: lightgray;
    color: black;
    height: 120%;
}

.main_body {
    overflow-y: hidden;
    height: 100%;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px auto;
    font-size: 12px;
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #91700d;
}

a.bee {
    color: darkgoldenrod;
}

a.bee:hover {
    color: chocolate;
}

/* Forms */

/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
		-webkit-text-fill-color: white !important;
} */

label {
    width: 100%;
}

input {
    width: 100%;
    border: 1px solid #777;
}

select {
    width: 100%;
    border: 1px solid darkgray;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    background-color: #eee;
    border-color: black;
}

div.label {
    margin: auto auto;
    width: 90%;
}

div.input {
    margin: auto auto;
    width: 90%;
}

/* Logout Window */

.logoutDispContainer {
    display: none;
}

.logoutCheckWindow {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .3;
    border: 1px solid black;
    margin: auto auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.logoutCheckWrapper {
    width: 90%;
    height: auto;
    margin: auto auto;
    padding: 5px;
}

.h2_logoutMessage {
    font-size: 130%;
    margin: 0 auto;
}

.logoutCheckMessage {
    display: flex;
    flex-flow: column no-wrap;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    margin: auto auto;
    width: 30%;
    height: 25%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0 0 35px white;
    border: 1px solid white;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
}

/* Botoes */

.btMain {
    cursor: pointer;
    margin: auto 5px;
    color: black;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 90%;
    transition: 0.4s;
}

.btCadastrar:hover {
    background-color: #333;
    color: white;
    border-color: white;
}

.btLimpar:hover {
    background-color: #333;
    color: yellow;
    border-color: white;
}

.btCancelar:hover {
    background-color: #333;
    color: darkred;
    border-color: darkred;
}

.btConfirmar:hover {
    background-color: #333;
    color: forestgreen;
    border-color: forestgreen;
}

.btEnviar:hover {
    background-color: #333;
    color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    background-color: rgba(10, 10, 10, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: black;
    background-color: rgba(0, 0, 0, 1)
}

/* Dropdown */

.oam_dropdown_content {
    display: none;
    position: absolute;
    border: 1px solid gray;
    width: 160%;
    max-width: 290px;
}

.oam_drop_div {
    padding-top: 5px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-weight: 600;
    vertical-align: bottom;
    text-align: center;
    font-size: 90%;
}

.oam_opt:hover .oam_dropdown_content {
    display: block;
    background-color: lightgray;
}

.oam_dropdown {
    position: relative;
    display: inline-block;
}

.cat_div {
    height: 1px;
    width: 100%;
    border: 1px solid black;
}

.oam_drop_opt {
    font-size: 80%;
    width: 100%;
    height: auto;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid gray;
    border-left: 2px solid darkgray;
}

.oam_drop_opt:hover {
    background-color: #f2f2f2;
    border-left: 3px solid black;
}

/* Menu */

.menu_button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    transition: .4s;
    box-shadow: 0 0 20px -5px black;
}

.menu_bt_bar {
    border-radius: 10px;
    height: 2px;
    width: 70%;
    margin: 2px auto;
    background-color: black;
}

.menu_button:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0 0 18px -2px black;
}

.menu_button:hover .menu_bt_bar {
    background-color: white;
}

.menu_button:active {
    border-color: yellow;
    transition: .1s;
}

.menu_button:active .menu_bt_bar {
    background-color: #ddd;
    transition: .1s;
}

.oa_menu {
    height: auto;
}

.menu_topping {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    background-color: lightgray;
    height: 35px;
    border-bottom: 1px solid black;
}

.oam_brand {
    margin: 0px auto 5px;
    width: 90%;
    height: 35px;
    order: 1;
}

.oam_brand_title {
    width: 90%;
    text-align: center;
    margin: 5px auto;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.oam_extra {
    order: 0;
    display: flex;
}

.oam_extra_title {
    color: black;
    font-size: 85%;
    padding: 10px;
    height: 80%;
}

.oam_user_info {
    padding-right: 5px;
    text-align: end;
    order: 2;
}

.oam_hello {
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.oam_hello a {
    color: black;
    font-weight: 600;
}

.oam_hello a:hover {
    color: yellow;

}

.oam_logout a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.oam_logout a:hover {
    color: red;
}

.oam_wrapper {
    border: 1px solid #3a3a3a;
    height: 120px;
    margin: 0px auto;
    display: grid;
    grip-gap: 10px;
    grid-template-columns: repeat(6, calc(100%/6));
    padding: 5px;
    background-color: gray;
}

.oam_opt {
    margin: auto auto;
    width: 60%;
    height: 90%;
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.3s;
    background-position: 50% 65%;
    background-size: 30%;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 12px -2px black;
}

.oam_opt:hover {
    background-color: #ddd;
    border: 3px solid #2d2d2d;
    background-size: 35%;
}

.oam_drop_div_legend {
    color: black;
    transition-duration: 0.3s;
    display: block;
}

.opt_produto {
    background-image: url("/static/img/bg_menu_produtos.png");
    order: 0;
}

.opt_cliente {
    background-image: url("/static/img/bg_menu_clientes.png");
    order: 1;
}

.opt_vendas {
    background-image: url("/static/img/bg_menu_vendas.png");
    order: 2;
}

.opt_producao {
    background-image: url("/static/img/bg_menu_producao.png");
    order: 3;
}

.opt_home_page {
    background-image: url("/static/img/bg_menu_home.png");
    order: 4;
}

.opt_config {
    background-image: url("/static/img/bg_menu_config2.png");
    order: 5;
}

.search_wrapper {
    height: 50px;
    margin: 5px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: darkgray;
    color: black;
    border-radius: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
}

.main_frame {
    width: 100%;
    height: 80%;
    margin: 5px auto;
    border: none;
}

.frame_height {
    height: 100%;
}

.fix_frame {
	height: 100%;
    left: 0;
    right: 0;
    margin-top: 55px;
    margin-bottom: 20px;
}

.search_part {
    border: 1px solid #555;
    border-collapse: collapse;
    background-color: darkgray;
    width: 33%;
    width: calc(100%/3);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    line-height: 15px;
}

.search_form {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.search_label {
    font-size: 12px;
}

.search_div {
    margin: auto 5px;
    width: 90%;
}

.search_input {
    margin: auto auto;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    padding: 4px;
    font-size: 80%;
}

select.search_input {
    padding: 1px;
}

.search_sel_opt {
}

.search_button_div {
    vertical-align: middle;
    height: auto;
    width: 35px;
    height: 35px;
}

.search_button {
    background-image: url("/static/img/lupinha.png");
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 35px;
    transition-duration: 0.4s;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.search_button:hover {
    background-color: yellow;
    color: black;
}

/* PAGINA DO USUARIO */


/* DEPRECIADO
.a_um_goback {
    width: auto;
    min-width: 150px;
}

.bt_um_goback {
    outline: none;
    padding-left: 9%;
    background-position: 6% 50%;
    background-size: 13%;
    background-repeat: no-repeat;
    border: none;
    border-right: 2px solid black;
    width: 100%;
    height: 25px;
    font-weight: 600;
    font-size: 12px;
    color: white;
    background-color: black;
    transition: 0.2s;
}

.bt_um_goback:hover {
    border-right: 2px solid yellow;
}

.bt_um_goback:focus {
    background: none;
    color: yellow;
    border-right: 2px solid black;
}
*/


/* Extras */

.iframe_section {
    height: auto;
}

.hidden {
    display: none;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.flex_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.flex_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}


@media screen and (max-width: 1400px) {
    .oam_drop_div {
        font-size: 78%;
    }

    .oam_opt {
        background-size: 39%;
    }
}

@media screen and (max-width: 1100px) {
    .oam_extra_title {
        font-size: 60%;
    }

}

@media screen and (max-width: 950px) {
    .search_wrapper {
        height: auto;
    }

    .oam_drop_div {
        font-size: 70%;
    }

}

@media screen and (max-height: 880px) {
    .oam_wrapper {
        height: 20%;
    }

    .oam_brand_title {
        font-size: 16px;
    }

}

@media screen and (min-width: 1800px) {

    .oam_opt {
        background-size: 25%;
    }

    .oam_opt:hover {
        background-size: 30%;
    }


}
