<html>

<head>
	<title id="iframe_title">SGE - Lista de Produtos</title>
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
	<link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/lista_produtos.css"/>
	<script src="/static/js/iframe/produtos/lista_produtos.js"></script>
</head>

<body>

	<h1> Lista de Produtos </h1>
	
	<!-- ALERTA DE EXCLUIDO COM SUCESSO -->
	
	{% if deletado == 'True' %}
		
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content_success">
			<h2 class="overlay_title_success">Produto Deletado com Sucesso</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'lista_produtos' %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	
	{% endif %}
	
	<!--================================-->
	
	<!-- JANELA QUE SOBREPÕE PARA CONFIRMAR EXCLUSÃO -->
	
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">Tem certeza que deseja deletar esse produto?</h2>
			
			<div class="bt_wrapper">
				<a href="javascript:confirmaJanelaOff()"><button class="btMain btCancelar">Cancelar</button></a>
				<a id="bt_confirma"><button class="btMain btConfirmar">Confirmar</button></a>
			</div>
			
		</div>
	</div>
	
	<!--============================================-->
	
	<div class="search_opts_wrapper white">
		SESSÃO PARA FILTRAR PRODUTOS (EM CONSTRUCAO)
	</div>
	
    <div class="pageContainer">

        <div class="divPaginas">
            {% if produtos.has_previous %}
                <a class="linkPagina bee" href="{{ url }}&page=1"><<</a>
                <a class="linkPagina white"> </a>

                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.previous_page_number }}"> {{ produtos.previous_page_number }}</a>
            {% else %}
                <a class="linkPagina bee" href=""><<</a>
                <a class="linkPagina white"> </a>

            {% endif %}

            <a class="linkPagina bee current">{{ produtos.number }}</a>

            {% if produtos.has_next %}
                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.next_page_number }}">{{ produtos.next_page_number }}</a>

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.paginator.num_pages }}">>></a>
            {% else %}

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="">>></a>
            {% endif %}

        </div>

        <div class="lista_wrapper">

            <div class="div_legenda">
                <div class="legenda_img vertical">Foto</div>

                <div class="borda_leg"></div>

                <div class="codproduto_leg vertical" >Cód.</div>

                <div class="borda_leg"></div>

                <div class="preco_leg vertical" >Preço</div>

                <div class="borda_leg"></div>

                <div class="nome_produto_leg vertical">Nome do Produto</div>

                <div class="borda_leg"></div>

                <div class="opts_legenda vertical">Opções</div>
            </div>

            {% for produto in pagina %}

                <div class="div_produto">

                    <div class="img_div_produto">
                        <img class="img_produto" src="{{ produto.fotoproduto.url }}" alt="Foto do Produto"/>
                    </div>

                    <div class="borda"></div>

                    <div class="codproduto vertical">
                        {{ produto.codproduto }}
                    </div>

                    <div class="borda"></div>

                    <div class="preco vertical">
                        R${{ produto.preco }}
                    </div>

                    <div class="borda"></div>

                    <div class="nome_produto vertical">
                        {{ produto.nomeproduto }}
                    </div>

                    <div class="borda"></div>

                    <div class="opts_produto">

                        <a href="/iframe/produtos/{{ produto.pkid_produto }}" class='vertical'>
                            <div style="color:white">
                                Editar
                            </div>
                        </a>

                        <a href="javascript:confirmaJanelaOn('{{ produto.pkid_produto }}')" class='vertical'>
                            <div style="color:red" class='vertical'>
                                Excluir
                            </div>
                        </a>

                    </div>

                </div>
            {% endfor %}
        </div>

        <div class="divPaginas">
            {% if produtos.has_previous %}
                <a class="linkPagina bee" href="{{ url }}&page=1"><<</a>
                <a class="linkPagina white"> </a>

                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.previous_page_number }}"> {{ produtos.previous_page_number }}</a>
            {% else %}
                <a class="linkPagina bee" href=""><<</a>
                <a class="linkPagina white"> </a>

            {% endif %}

            <a class="linkPagina bee current">{{ produtos.number }}</a>

            {% if produtos.has_next %}
                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.next_page_number }}">{{ produtos.next_page_number }}</a>

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="{{ url }}&page={{ produtos.paginator.num_pages }}">>></a>
            {% else %}

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="">>></a>
            {% endif %}

        </div>

    </div>

</body>

</html>