<html>

<head>
	<title id="iframe_title">SGE - Página Produto</title>
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
	<link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/pagina_produto.css"/>
</head>

<body>

	<h1>Produto</h1>

	<form method="POST" enctype="multipart/form-data" autocomplete="OFF">
	
	<div class="foto_produto">
		<img class="foto_produto" alt="{{ produto.nomeproduto }}" src="{{ produto.fotoproduto.url }}">		
		</img>
	</div>
	
	<div>
		<label></label>
		<input></input>
	</div>
	
	<div></div>
	
	</form>
	
</body>

</html>