<html>
<head>
	{% load static %}
	{% block scripts %}
	
		<title id="base_title">SGE - Home Page</title>

		<script src="/static/jquery/jquery-3.3.1.min.js"></script>
		<script src="/static/jquery/jquery.mask.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" content="height=device-height, initial-scale=1.0" />
		<meta charset="utf-8" />
		
		<link rel="stylesheet" type="text/css" href="/static/css/site.css">
		
		<script src="/static/js/fix_titles.js"></script>
		<script src="/static/js/logoutCover.js"></script>
		<script src="/static/js/toggleMenu.js"></script>
		<script src="/static/js/api.js"></script>

	{% endblock %}
	
	<script src="/static/js/utils.js"></script>
</head>

<body class="main_body">
	
	<div class="hidden"></div>

	<div id ="ldc_logout" class="logoutDispContainer">
		<div class="logoutCheckWindow">
		</div>
		<div class="logoutCheckMessage">
			<div class="logoutCheckWrapper">
				<h2 class="h2_logoutMessage">Tem certeza que deseja sair ?</h2>
				<br/>
				<div class="bt_logoutContainer">
					<button class="btMain btCancelar" onclick="logoutDisplayOff()">Cancelar</button>
					<a href="/logout"><button class="btMain btConfirmar">Confirmar</button></a>
				</div>
			</div>
		</div>
	</div>
	
	<section class="oa_menu">
		<header>
			<div id="menu_topping" class="menu_topping">
			
				<div id="oam_extra" class="oam_extra">
					
					<div class="menu_button" id="menu_button" onclick="ToggleMenu()">
						<div class="menu_bt_bar"></div>
						<div class="menu_bt_bar"></div>
						<div class="menu_bt_bar"></div>
					</div>
				
				</div>
				
				<div class="oam_brand">
					<h2 class="oam_brand_title">ENDORAMA ESSÊNCIAS</h2>
				</div>
				
				<div class="oam_user_info">
					{% if user.is_authenticated %}
					<div class="oam_hello">Olá, <a href="/admin/usuario" target="main_frame">{{ user }}</a></div>
					
					<script>
						function logoutDisplayTest() {
							if(typeof logoutDisplayOn == 'function'){
								logoutDisplayOn();
							}
							if(getComputedStyle(document.getElementById("ldc_logout"), null).display == "none") {
								alert("Não foi possível carregar a tela de confirmação. Usuário será deslogado.");
								window.location.href = "/logout" ;
							}
						}
					</script>
					
					<div class="oam_logout"><a href="javascript:logoutDisplayTest()">sair</a></div>
					{% endif %}
				</div>
			
			</div>
			
			<div class="oam_wrapper_holder">
			<div id="oam_wrapper" class="oam_wrapper" style="display: none;">
				<div class="oam_opt opt_produto oam_dropdown opt_none_bg">
					<a href="{% url 'lista_produtos' %}" target="main_frame">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Produtos</div>
						</div>
					</a>
					<div class="oam_dropdown_content">
						<a href="{% url 'cadastrar_produto' %}" target="main_frame"><div class="oam_drop_opt">Cadastrar Produto</div></a>
						<a href="{% url 'lista_produtos' %}" target="main_frame"><div class="oam_drop_opt">Lista de Produtos</div></a>

						<!-- Essa é uma divisória para identificar submenus em um menu -->
						<div class="cat_div"></div>
						
						<a href="{% url 'cadastrar_materia' %}" target="main_frame"><div class="oam_drop_opt">Cadastrar Matéria Prima</div></a>
						<a href="{% url 'lista_materia' %}" target="main_frame"><div class="oam_drop_opt">Lista de Matéria Prima</div></a>

						<div class="cat_div"></div>

						<a href="{% url 'lista_categorias' %}" target="main_frame"><div class="oam_drop_opt">Categorias</div></a>
						<a href="{% url 'lista_unidades' %}" target="main_frame"><div class="oam_drop_opt">Unidades</div></a>
					</div>
				</div>
				
				<div class="oam_opt opt_cliente oam_dropdown opt_none_bg">
					<a href="{% url 'lista_clientes' %}" target="main_frame">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Clientes</div>
						</div>
					</a>
					<div class="oam_dropdown_content">
						<a href="{% url 'cadastrar_cliente' %}" target="main_frame"><div class="oam_drop_opt">Cadastrar Cliente</div></a>
						<a href="{% url 'cadastro_rapido_cliente' %}" target="main_frame"><div class="oam_drop_opt">Cadastro Rápido</div></a>
                        <a href="{% url 'lista_clientes' %}" target="main_frame"><div class="oam_drop_opt">Lista de Clientes</div></a>
					</div>
				</div>
				
				<div class="oam_opt opt_vendas opt_none_bg">
					<a href="">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Vendas</div>
						</div>
					</a>
					<div class="oam_dropdown_content">
							<a href="{% url 'nova_venda' %}" target="main_frame"><div class="oam_drop_opt">Nova Venda</div></a>
						<a href="/iframe/vendas/calcula_frete" target="main_frame"><div class="oam_drop_opt">Calcular Frete</div></a>
					</div>
				</div>
				
				<div class="oam_opt opt_producao opt_none_bg">
					<a href="">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Produção</div>
						</div>
					</a>
					<div class="oam_dropdown_content">
						<a href="{% url 'nova_fabricacao' %}" target="main_frame"><div class="oam_drop_opt">Nova Fabricação</div></a>
						<a href="{% url 'lista_fabricacao' %}" target="main_frame"><div class="oam_drop_opt">Pedidos de Fabricação</div></a>
						<div class="cat_div"></div>
						<a href="{% url 'lista_formulas' %}" target="main_frame"><div class="oam_drop_opt">Lista de Fórmulas</div></a>
					</div>
				</div>
				
				<div class="oam_opt opt_home_page opt_none_bg">
					<a href="/iframe/home" target="main_frame">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Home Page</div>
						</div>
					</a>
				</div>
				
				<div class="oam_opt opt_config opt_none_bg">
					<a href="">
						<div class="oam_drop_div">
							<div class="oam_drop_div_legend">Configurações</div>
						</div>
					</a>
				</div>
				
			</div>

			<div id="search_wrapper" class="search_wrapper">
				<div class="search_part">
					<form class="search_form" method="GET" autocomplete="no">
						<div class="search_div">
							<label class="search_label" for="search_cod_pedido">Cód. do Pedido:</label><br/>
							<input class="search_input" type="text" name="search_cod_pedido" placeholder="..." id="search_cod_pedido"/>
                        </div>
						
						<div class="search_div">
							<label class="search_label" for="search_sit_pedido">Situação do Pedido:</label><br/>
							<select class="search_input" type="text" name="search_sit_pedido" id="search_sit_pedido">
								<option class="search_sel_opt" value="Concluido" selected> Concluido </option>
								<option class="search_sel_opt" value="Indiferente"> Indiferente </option>
							</select>
						</div>
						
						<div class="search_div search_button_div">
						    <button class="search_button" type="submit">
						    </button>
						</div>
						
					</form>
				</div>
				
				<div class="search_part">
					<form class="search_form" method="GET" target="main_frame" action="/iframe/produtos/lista" autocomplete="no">
						<div class="search_div">
							<label class="search_label" for="search_cod_produto">Cód. do Produto:</label><br/>
							<input class="search_input" type="number" name="search_cod_produto" placeholder="..." />
                        </div>
						
						<div class="search_div">
							<label class="search_label" for="search_keyword_prod">Palavra Chave:</label><br/>
							<input class="search_input" type="text" name="search_keyword_prod" placeholder="..." />
						</div>
						
						<div class="search_div search_button_div">
						    <button class="search_button" type="submit">
						    </button>
						</div>
						
					</form>
				</div>
				
				<div class="search_part">
				</div>
			</div>

			</div>
			
		</header>
	</section>
	
	
		<script>
			function iframeLoad() {
				getTitle();
				oamTitle();
			}
		</script>
		<iframe src="/iframe/home" onload="iframeLoad()" class="main_frame frame_height" id="main_frame" name="main_frame"></iframe>

	
<footer>
	Sistema Administrativo Endorama - SGE Hookah & Faculdade Impacta - Todos os direitos reservados
</footer>

<!-- <script src="/static/js/fix_bar.js"></script> -->

</body>
</html>