<html>
<head>
	<title id="iframe_title">SGE - Cadastrar Produto</title>

	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/cadastro.css"/>
    <link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/cadastrar_produto.css"/>

	<script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery/jquery.mask.min.js"></script>

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
	<script src="/static/js/utils.js"></script>
</head>

<body>
	<h1> Cadastrar Produto </h1>
	
	{% if success == 'True' %}
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">PRODUTO CADASTRADO COM SUCESSO</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'cadastrar_produto' %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	</div>
	{% endif %}
	
	<section class="content">
		<div>
			<form method="POST" enctype="multipart/form-data" autocomplete="off">
				<div class="formInputContainer">
				{% csrf_token %}

					<div class="columns_holder">

						<div class="col">
						
							{% for field in form_col1 %}

							<div class="fieldDiv">
								<div class="formInput">
									<div class="label">{{field.label_tag}}</div>
									<div class="input">{{field}}
										{{field.errors}}
									</div>
								</div>
							</div>

							{% endfor %}

						</div>

						<div class="col">

							{% for field in form_col2 %}

							<div class="fieldDiv">
								<div class="formInput">
									<div class="label">{{field.label_tag}}</div>
									<div class="input">{{field}}
										{{field.errors}}
									</div>
								</div>
							</div>

							{% endfor %}

						</div>

					</div>

					<div class="fotoDiv">
						<div class="formInput vertical">
							<div class="label_ft" id="label_ft_div">{{form.fotoproduto.label_tag}}</div>
							<div class="input_ft">{{form.fotoproduto}}
									{{form.fotoproduto.errors}}
							</div>
						</div>
						<div class="div_foto_preview" id="div_foto_preview">
							<img class="img_foto_preview" id="foto_preview"/>
						</div>
					</div>

					<div class="fieldDiv">
						<div class="formInput">
							<div class="label">{{form.descricao.label_tag}}</div>
							<div class="input">{{form.descricao}}
								{{form.descricao.errors}}
							</div>
						</div>
					</div>

				</div>

				<div class="botaoContainer">
					<button class="btMain btCancelar" type="reset">Limpar</button>
					<button class="btMain btConfirmar" type="submit">Cadastrar</button>
				</div>

				</div>
			</form>
		</div>
	</section>

<script src="/static/js/iframe/produtos/cadastrar_produto.js"></script>
<script src="/static/js/formsFixes.js"></script>

</body>
</html>