<html>
<head>
	<title id="iframe_title">SGE - Fórmula Produto</title>

	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/cadastro.css"/>
    <link rel="stylesheet"  type="text/css" href="/static/css/my_css/formset_manager.css"/>

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
	<script src="/static/jquery/jquery.mask.min.js"></script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>

	<script src="/static/js/utils.js"></script>
</head>

<body>
	
	
	{% if success == 'True' %}
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">FÓRMULA SALVA COM SUCESSO</h2>
			
			<div class="bt_wrapper">
				<a href="/iframe/produtos/{{ produto.pkid_produto }}/formula"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	</div>
	{% endif %}
	
	<section class="content">
			<form method="POST" autocomplete="off">
				{% csrf_token %}

						<h2 class="txt_center">{{ produto.nomeproduto }}</h2>
						<div class="flex_row_nw row_center">
						
							{% for field in form_formula %}

							<div class="fieldDiv">
								<div class="formInput">
									<div class="label">{{field.label_tag}}</div>
									<div class="input">{{field}}
										{{field.errors}}
									</div>
								</div>
							</div>

							{% endfor %}

						</div>

						{% include FORMSET_TEMPLATE with formset=forms_materia %}

					<div class="botaoContainer">
						<button class="btMain btCancelar" type="reset">Limpar</button>
						<button class="btMain btConfirmar" type="submit">Salvar</button>
					</div>

			</form>
	</section>

<script src="/static/js/iframe/produtos/cadastrar_produto.js"></script>
<script src="/static/js/formsFixes.js"></script>
<script src="/static/js/formsetManager.js"></script>

</body>
</html>