<html>

<head>
	<title id="iframe_title">SGE - Lista de Produtos</title>
    
    <!-- Site defaults -->
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    <!-- Page specific -->
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/lista.css"/>
	<link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/lista_produtos.css"/>

	<script src="/static/js/iframe/produtos/lista_produtos.js"></script>
    <script src="/static/js/patterns/lista.js"></script>
</head>

<body>

	<h1> Lista de Produtos </h1>
	
	<!-- ALERTA DE EXCLUIDO COM SUCESSO -->
	
	{% if deletado == 'True' %}
		
		<div class="bg">
		</div>
		
		<div class="overlay_content_success">
			<h2 class="overlay_title_success">Produto Deletado com Sucesso</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'lista_produtos' %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	
	{% endif %}
	
	<!--================================-->
	
	<!-- JANELA QUE SOBREPÕE PARA CONFIRMAR EXCLUSÃO -->
	
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">Tem certeza que deseja deletar esse produto?</h2>
			
			<div class="bt_wrapper">
				<a href="javascript:confirmaJanelaOff()"><button class="btMain btCancelar">Cancelar</button></a>
				<a id="bt_confirma"><button class="btMain btConfirmar">Confirmar</button></a>
			</div>
			
		</div>
	</div>
	
	<!--============================================-->
	
	<div class="search_opts_wrapper white">
		SESSÃO PARA FILTRAR PRODUTOS (EM CONSTRUCAO)
	</div>
	
    <section class="content">

        <div class="opt_content">
            <div class="divCadastrar">
                <a href="/iframe/produtos/cadastrar">
                    <button class="btMain btCadastrar">
                    CADASTRAR PRODUTO
                    </button>
                </a>
            </div>
        </div>

        <table>

            <thead>
                <tr>
                    <th>Foto</th>

                    <th>Código</th>
                    
                    <th>Preço</th>
                    
                    <th>Nome do Produto</th>
                    
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
            {% for produto in pagina %}

                <tr>

                    <td>
                        <div class="img_div_produto">
                            <img class="img_produto" src="{{ produto.fotoproduto.url }}" alt="Foto do Produto"/>
                        </div>
                    </td>

                    
                    <td class="txt_center">
                        {{ produto.codproduto }}
                    </td>

                    
                    <td class="txt_center">
                        R${{ produto.preco }}
                    </td>

                    
                    <td class="lft_padding">
                        {{ produto.nomeproduto }}
                    </td>
                    
                    <td>
                        <div class="opts_holder flex_row_nw">

                            <a href="/iframe/produtos/{{ produto.pkid_produto }}" title="editar" class='vertical opt_bt'>
                                <div class="opt_bt opt_edit">
                                </div>
                            </a>

                            <a href="/iframe/produtos/{{ produto.pkid_produto }}/formula" title="formula" class="vertical opt_bt">
                                <div class="opt_bt opt_formula">
                                </div>
                            </a>

                            <a href="javascript:confirmaJanelaOn('{{ produto.pkid_produto }}')" title="deletar" class='vertical opt_bt'>
                                <div class="opt_bt opt_delete">
                                </div>
                            </a>

                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="divPaginas">

            {% if pagina.has_previous %}
                <a class="linkPagina bee" href="{{ url }}&page=1"><<</a>
                <a class="linkPagina white"> </a>

                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.previous_page_number }}"> {{ pagina.previous_page_number }}</a>
            {% else %}
                <a class="linkPagina bee" href=""><<</a>
                <a class="linkPagina white"> </a>

            {% endif %}

            <a class="linkPagina bee current">{{ pagina.number }}</a>

            {% if pagina.has_next %}
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.next_page_number }}">{{ pagina.next_page_number }}</a>

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.paginator.num_pages }}">>></a>
            {% else %}

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="">>></a>
            {% endif %}

        </div>

    </section>

</body>

</html>