<html>

<head>
	<title id="iframe_title">SGE - Categorias</title>
    <!-- Site defaults -->
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    <!-- Page specific -->
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/lista.css"/>
    <link rel="stylesheet"  type="text/css" href="/static/css/iframe/produtos/categoria/lista_categorias.css"/>

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/js/patterns/lista.js"></script>
    <script src="/static/js/utils.js"></script>
</head>

<body>

	
	
	<!-- MENSAGEM DE SUCESSO -->
	
	{% if success == 'True' %}
	
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content_success">
			<h2 class="overlay_title_success">Categoria Deletada com Sucesso</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'lista_categorias' %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	
	{% endif %}
	
	<!-- JANELA QUE SOBREPÕE PARA CONFIRMAR EXCLUSÃO -->
	
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">Tem certeza que deseja deletar essa categoria?</h2>
			
			<div class="bt_wrapper">
				<a href="javascript:confirmaJanelaOff()"><button class="btMain btCancelar">Cancelar</button></a>
				<a id="bt_confirma"><button class="btMain btConfirmar">Confirmar</button></a>
			</div>
			
		</div>
	</div>
	
	<!--============================================-->
	
    <section class="content">

        <div class="opt_content">

            <div class="divCadastrar">
                <button onclick="showOvCad()" class="btMain btCadastrar">CADASTRAR CATEGORIA</button>

                <div id="ov_cad" class="ov_cad">
                    <div class="bg"></div>

                    <div class="ov_cad_content">

                        <h2>Cadastrar Categoria</h2>

                        <form class="cad_form" method="POST">
                            {% csrf_token %}
                            {% for field in form %}							
                            <div class="fields_wrapper">
                                {{field.errors}}
                                <div class="ov_cad_label">{{field.label_tag}}</div>
                                <div class="ov_cad_field">{{field}}</div>
                            </div>
                            {% endfor %}

                            <div class="bt_wrapper">
                                <button onclick="hideOvCad()" type="reset" class="btMain btCancelar">Cancelar</button>
                                <button type="submit" class="btMain btConfirmar">Cadastrar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>	
		
	<!-- Legenda -->	
	
        <table>

            <thead>

                <tr>

                    <th>
                        ID
                    </th>

                    <th>
                        Nome da Categoria
                    </th>

                    <th>
                        Opções
                    </th>

                </tr>

            </thead>

        <!-- A lista em si -->

            <tbody>

            {% for categoria in pagina %}

                <tr>
                    <td class="txt_center">
                        {{ categoria.pkid_categoria }}
                    </td>

                    <td class="lft_padding">
                        {{ categoria.nomecategoria }}
                    </td>

                    <td>
                        <div class="opts_holder flex_row_nw">
                        
                            {% url 'deletar_categoria' categoria.pkid_categoria as url %}
                        <a href="javascript:confirmaJanelaOn('{{ url }}')" title="deletar" class='vertical opt_bt'>
                            <div class='opt_bt opt_delete'>
                            </div>
                        </a>

                        </div>
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

        <div class="divPaginas">
            {% if pagina.has_previous %}
                <a class="linkPagina bee" href="{{ url }}&page=1"><<</a>
                <a class="linkPagina white"> </a>

                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.previous_page_number }}"> {{ pagina.previous_page_number }}</a>
            {% else %}
                <a class="linkPagina bee" href=""><<</a>
                <a class="linkPagina white"> </a>

            {% endif %}

            <a class="linkPagina bee current">{{ pagina.number }}</a>

            {% if pagina.has_next %}
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.next_page_number }}">{{ pagina.next_page_number }}</a>

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.paginator.num_pages }}">>></a>
            {% else %}

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="">>></a>
            {% endif %}
        </div>

    </section>

    <script src="/static/js/formsFixes.js"></script>

</body>

</html>