<html>
<head>
	<title id="iframe_title">SGE - Novo Pedido de Fabricação</title>
	
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/cadastro.css"/>

	<!-- <link rel="stylesheet"  type="text/css" href=""/> -->

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery/jquery.mask.min.js"></script>
	<script src="/static/js/api.js"></script>
	<script src="/static/js/utils.js"></script>
</head>

<body>
	
	
	{% if success == 'True' %}
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">PEDIDO DE FABRICAÇÃO REGISTRADO COM SUCESSO</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'editar_fabricacao' id_fabricacao %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	</div>
	{% endif %}
	
	<section class="content">
		<div>
			<form method="POST" enctype="multipart/form-data" autocomplete="off">
                
				<div class="formInputContainer">
                
				{% csrf_token %}

				<div class="hidden">
					{% for field in fabricaForm.hidden_fields %}
						{{ field }}
					{% endfor %}
				</div>

				{% for field in fabricaForm.visible_fields %}
					<div class="fieldDiv">
						<div class="formInput">
							<div class="label">{{field.label_tag}}</div>
							<div class="input">{{field}}
								{{ field.errors }}
							</div>
						</div>
					</div>
				{% endfor %}

				{{ materiais }}

				</div>
				<div class="botaoContainer">
					<button class="btMain btCancelar" type="reset">Limpar</button>
					<button class="btMain btConfirmar" id="submitButton" type="submit">Cadastrar</button>
				</div>
			</form>
		</div>

		<table>
			<thead>
				<tr>
					<th>Matéria</th>
					<th>Quantidade</th>
				</tr>
			</thead>

			<tbody id="materias">
			</tbody>
		</table>

	</section>

	<script src="/static/js/formsFixes.js"></script>
	<script src="/static/js/iframe/producao/pedidos/valida_fabricacao.js"></script>

</body>
</html>