<head>
	
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/usuario/user_main.css">

	<script src="/static/jquery/jquery-3.3.1.min.js"></script>
	<script src="/static/jquery/jquery.mask.min.js"></script>

	<script src="/static/js/Usuario/user_main.js"></script>

	<script src="/static/js/utils.js"></script>
</head>
<body style="background:none;background-color:none;">

	{% if success == True %}
		<script>
			jaiDisplayOff();
			jai_alertSucessOn();
		</script>
	{% endif %}

	<div class="jai_bg" id="jai_bg">
	</div>

	<form method="POST" name="ai_form" id="ai_form">

		<div class="wp_AlterarInfoForm" id="wp_AlterarInfoForm">
			
			<h3 class="jai_title"> Altere suas informações: </h3>
			
			{% csrf_token %}

			{% for field in form_user_info %}
				<div class="jai_fields_wrapper">
					<div class="label">{{field.label_tag}}</div>
					<div class="field">{{field}}
						{{ field.errors }}
					</div>
				</div>
			{% endfor %}
			
			<script>
				ShowErrosAi();
			</script>
			
			<div class="jai_bt_div">
				<button onclick="javascript:jaiDisplayOff()" type="reset" class="btMain btCancelar">Cancelar</button>
				<button name="bt_UserInfo" class="btMain btConfirmar" type="submit">Confirmar</button>
			</div>
			
		</div>
	</form>
	
	<script src="/static/js/formsFixes.js"></script>
	
</body>