<html>
<head>
	<title id="iframe_title">SGE - Página Inicial</title>
	
	<link rel="stylesheet"  type="text/css" href="/static/css/iframe/iframe_home.css"/>
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>

	<script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery/jquery.mask.min.js"></script>

</head>

<body>
	
	
	<section name="main_section" class="content_box"> 
		
		<div class="section stn_est"> 
			<h3 class="txt_center">Fabricação</h3>
			{% include fabricacaoPiece with pedidosFabricacao=pedidosFabricacao %}
		</div>
	
		<div class="section stn_est"> 
			<h3 class="txt_center">Vendas Recentes</h3>
		</div>
		
		<div class="section stn_xxx"> </div>
	
		<div class="section stn_xxx"> </div>
		
	</section>
		
</body>
</html>