h1 {
	margin-bottom: 50px;
}

textarea {
	width: 100%;
	height: 100px;
}

input, select {
	font-size: 90%;
	height: 23px;
	padding: 4px;
	max-height: 60px;
}

input[type="file"] {
    border: none;
    color: black;
    height: 25px;
}

select {
	padding: 0px;
}

.FotoInput:focus {
	outline: none;
	background-color: none;
}

.Descricao {
	resize: none;
}

div.label {
	color: black;
	width: 100%;
}

div.input {
	width: 100%;
	max-height: 200px;
}

.fieldDiv {
	min-width: 50%;
	flex: 1 1 auto; 
	padding: 10px;
	justify-content: center;
}

.formContainer {
	margin: 10px auto;
	width: 45%;
	border: 1px solid gray;
	border-radius: 10px;
}

.formInput {
	margin: 0 auto;
}

.formInputContainer {
	margin: auto auto;
	padding: 15px;
	width: 70%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.botaoContainer {
	width: 93%;
	margin: auto auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.overlay {
}

.overlay_bg {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
}

.overlay_content {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	position: fixed;
	width: 40%;
	height: 35%;
	background-color: black;
	border: 2px solid white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.overlay_title {
	text-align: center;
	color: white;
	font-size: 24px;
}

.bt_wrapper {
	text-align: center;
}

.botao {
	margin: auto 5px;
	color: white;
	width: 100px;
	height: 30px;
	background-color: black;
	border: 2px solid white;
	border-radius: 5px;
	font-weight: 600;
	font-size: 90%;
	transition : 0.4s;
}

@media screen and (max-width: 1400px) {
	.formContainer {
		width: 60%;
	}
}

@media screen and (max-width: 1100px) {
	.formContainer {
		width: 70%;
	}
}

@media screen and (max-width: 900px) {
	.formContainer {
		width: 90%;
	}
}