<html>

<head>
	<title id="iframe_title">SGE - Lista de Matérias Prima</title>
    
    <!-- Site defaults -->
	<link rel="stylesheet"  type="text/css" href="/static/css/site.css"/>
    <!-- Page specific -->
    <link rel="stylesheet"  type="text/css" href="/static/css/patterns/lista.css"/>
	{% comment %} <link rel="stylesheet"  type="text/css" href="/static/css/iframe/clientes/lista_materias.css"/> {% endcomment %}
    
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery/jquery.mask.min.js"></script>

    <script src="/static/js/patterns/lista.js"></script>
    <script src="/static/js/utils.js"></script>
</head>

<body>

	<h1> Lista de Matérias Prima </h1>
	
	<!-- ALERTA DE EXCLUIDO COM SUCESSO -->
	
	{% if deletado == 'True' %}
		
		<div class="bg">
		</div>
		
		<div class="overlay_content_success">
			<h2 class="overlay_title_success">Matéria Prima Deletada com Sucesso</h2>
			
			<div class="bt_wrapper">
				<a href="{% url 'lista_materia' %}"><button class="btMain btConfirmar">Continuar</button></a>
			</div>
			
		</div>
	
	{% endif %}
	
	<!--================================-->
	
	<!-- JANELA QUE SOBREPÕE PARA CONFIRMAR EXCLUSÃO -->
	
	<div class="overlay" id="overlay">
		<div class="overlay_bg">
		</div>
		
		<div class="overlay_content">
			<h2 class="overlay_title">Tem certeza que deseja deletar essa matéria?</h2>
			
			<div class="bt_wrapper">
				<a href="javascript:confirmaJanelaOff()"><button class="btMain btCancelar">Cancelar</button></a>
				<a href="" id="bt_confirma"><button class="btMain btConfirmar">Confirmar</button></a>
			</div>
			
		</div>
	</div>
	
	<!--============================================-->
	
    <section class="content">

        <div class="opt_content">
            <div class="divCadastrar">
                <a href="{% url 'cadastrar_materia' %}">
                    <button class="btMain btCadastrar">
                    CADASTRAR MATÉRIA
                    </button>
                </a>
            </div>
        </div>

        <table>

            <thead>
                <tr>
                    <th>Cód.</th>

                    <th>Matéria Prima</th>

                    <th>Marca</th>

                    <th>Estoque</th>

                    <th>Opções</th>
                </tr>
            </thead>


            <tbody>
            {% for item in pagina %}
                <tr>

                    <td class="txt_center">
                        {{ item.pkid_materiaprima }}
                    </td>

                    <td class="lft_padding">
                        {{ item.materiaprima }}
                    </td>

                    <td class="txt_center">
                        {{ item.marca }}
                    </td>
                   
                    <td class="txt_center">
                        {{ item.totalestoque }} {{ item.unidade }}
                    </td>

                    <td>

                        <div class="opts_holder flex_row_nw">
                            <a href="{% url 'editar_materia' id_materia=item.pkid_materiaprima %}" title="editar" class='vertical opt_bt'>
                                <div class="opt_bt opt_edit">
                                </div>
                            </a>

                            {% url 'deletar_materia' item.pkid_materiaprima as url %}
                            <a href="javascript:confirmaJanelaOn('{{ url }}')" title="deletar" class='vertical opt_bt'>
                                <div class="opt_bt opt_delete">
                                </div>
                            </a>
                        </div>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="divPaginas">
            {% if pagina.has_previous %}
                <a class="linkPagina bee" href="{{ url }}&page=1"><<</a>
                <a class="linkPagina white"> </a>

                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.previous_page_number }}"> {{ pagina.previous_page_number }}</a>
            {% else %}
                <a class="linkPagina bee" href=""><<</a>
                <a class="linkPagina white"> </a>

            {% endif %}

            <a class="linkPagina bee current">{{ pagina.number }}</a>

            {% if pagina.has_next %}
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.next_page_number }}">{{ pagina.next_page_number }}</a>

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="{{ url }}&page={{ pagina.paginator.num_pages }}">>></a>
            {% else %}

                <a class="linkPagina white"> </a>
                <a class="linkPagina bee" href="">>></a>
            {% endif %}

        </div>

    </section>

</body>

</html>