	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/03/2018 08:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-shipping-4:before { content: "\f100"; }
.flaticon-002-truck-2:before { content: "\f101"; }
.flaticon-003-truck-1:before { content: "\f102"; }
.flaticon-004-truck:before { content: "\f103"; }
.flaticon-005-tax-2:before { content: "\f104"; }
.flaticon-006-tax-1:before { content: "\f105"; }
.flaticon-007-tax:before { content: "\f106"; }
.flaticon-008-document-2:before { content: "\f107"; }
.flaticon-009-shipping-3:before { content: "\f108"; }
.flaticon-010-shipping-2:before { content: "\f109"; }
.flaticon-011-box-2:before { content: "\f10a"; }
.flaticon-012-boat:before { content: "\f10b"; }
.flaticon-013-post-office:before { content: "\f10c"; }
.flaticon-014-shipping-1:before { content: "\f10d"; }
.flaticon-015-plane:before { content: "\f10e"; }
.flaticon-016-passport:before { content: "\f10f"; }
.flaticon-017-shipping:before { content: "\f110"; }
.flaticon-018-tracking-2:before { content: "\f111"; }
.flaticon-019-open:before { content: "\f112"; }
.flaticon-020-tracking-1:before { content: "\f113"; }
.flaticon-021-inspection-1:before { content: "\f114"; }
.flaticon-022-inspection:before { content: "\f115"; }
.flaticon-023-document-1:before { content: "\f116"; }
.flaticon-024-logistics:before { content: "\f117"; }
.flaticon-025-delivery:before { content: "\f118"; }
.flaticon-026-boxes-1:before { content: "\f119"; }
.flaticon-027-electronic:before { content: "\f11a"; }
.flaticon-028-drone:before { content: "\f11b"; }
.flaticon-029-departure:before { content: "\f11c"; }
.flaticon-030-boxes:before { content: "\f11d"; }
.flaticon-031-officer:before { content: "\f11e"; }
.flaticon-032-box-1:before { content: "\f11f"; }
.flaticon-033-container:before { content: "\f120"; }
.flaticon-034-document:before { content: "\f121"; }
.flaticon-035-box:before { content: "\f122"; }
.flaticon-036-tracking:before { content: "\f123"; }