.divPaginas {
	color: white;
	width: 60%;
	margin: 2px auto;
	display: flex;
	justify-content: center;
	text-align: center;
}

/* Janela de Confirmação */

.overlay {
	display: none;
}

.overlay_content {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	position: fixed;
	width: 40%;
	height: 35%;
	background-color: black;
	border: 2px solid white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.overlay_title {
	text-align: center;
	color: white;
	font-size: 18px;
}

.overlay_content_success {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	position: fixed;
	width: 35%;
	height: 30%;
	background-color: black;
	border: 2px solid white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.overlay_title_success {
	text-align: center;
	color: green;
	font-size: 18px;
}

.bt_wrapper {
	text-align: center;
}

/* Página */

/* BUSCA */

.search_opts_wrapper {
	width: 70%;
	height: 200px;
	margin: 30px auto;
	margin-top: 50px;
	border: 3px double white;
}

/* extra */

.pageContainer {
    border-radius: 5px;
    border: 3px double black;
    background-color: #aaa;
    margin: auto;
    padding: 20px;
    width: 70%;
}

/* LEGENDA */

.borda_leg {
	width: 1px;
	height: 100%;
	border: 1px solid #333;
}

.div_legenda {
	margin: 5px auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	height: 50px;
	padding: 5px;
	width: 95%;
	border: 3px solid #666;
    background-color: #bbb;
	font-weight: 600;
}

.legenda_img {
	margin-right: 10px;
	margin-left: 5px;
	width: 40px;
	text-align: center;
}

.codproduto_leg {
	margin: auto 5px;
	width: 10%;
	min-width: 75px;
	height: 95%;
	font-size: 100%;
	text-align: center;
}

.preco_leg {
	margin: auto 5px;
	width: 8%;
	min-width: 40px;
	height: 95%;
	font-size: 100%;
	text-align: center;
}

.nome_produto_leg {
	margin: auto 10px;
	height: 100%;
	width: 60%;
	font-size: 100%;
}

.opts_legenda {
	margin: auto;
	height: 100%;
    padding-left: 5px;
	width: 15%;
	text-align: center;
}

/* LISTA */

.borda {
	width: 1px;
	height: 100%;
	border: 1px solid #222;
}

.lista_wrapper {
	width: 100%;
	margin: auto auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.div_produto {
	margin: 5px auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	height: 50px;
	padding: 5px;
	width: 95%;
    background-color: lightgray;
	border: 1px solid #555;
}

.img_div_produto {
	margin: auto 10px auto 5px;
	width: 40px;
	height: 40px;
}

.img_produto {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.codproduto {
	margin: auto 5px;
	width: 10%;
	min-width: 75px;
	height: 95%;
	font-size: 15px;
	text-align: center;
}

.preco {
	margin: auto 5px;
	width: 8%;
	min-width: 40px;
	height: 95%;
	font-size: 16px;
	text-align: center;
}

.nome_produto {
	margin: auto 10px;
	height: 100%;
	width: 60%;
	font-size: 100%;
}

.opts_produto {
	margin: auto;
	height: 100%;
    padding-left: 5px;
	width: 15%;
	display: flex;
	flex-flow: row no-wrap;
	justify-content: center;
}

@media screen and (max-width: 1500px) {
	
	.legenda {
		margin: 5px auto;
		display: grid;
		grid-template-columns: 70px 12% 60.8% auto;
		height: 40px;
		width: 59%;
	}
	
	.preco {
		width: 10%;
		min-width: 65px;
	}
	
	.preco_leg {
		width: 10%;
		min-width: 65px;
	}
	
	
}

@media screen and (max-width: 1100px) {
	.borda {
		margin: auto 5px;
	}
}