/* TAGS */

h1 {
	width: 300px;
	color: white;
	text-align: center;
	border-bottom: 1px solid yellow;
	margin: auto auto;
}
	
}

h2 {
	
}

* {
	box-sizing : border-box;
	font-family: Georgia, serif
}

body {
	margin : 5px;
	margin-bottom: 0;
	padding-bottom : 0px;
	background-color : black;
}

footer {
	position: fixed;
	text-align : center;
	bottom : 0;
	left : 0;
	right: 0;
	width : 100%;
	margin: 0px auto;
	background-color: #fffec4;
	border-top: 1px solid #4f4d00;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #91700d;
}

/* Dropdown */

.oam_dropdown_content {
	display: none;
	position: absolute;
	border: 1px solid gray;
	width: 160%;
}

.oam_drop_div {
	padding-top: 5px;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	font-weight: 600;
	vertical-align: bottom;
	text-align: center;
	font-size: 90%;
}

.oam_opt:hover .oam_dropdown_content{
	display: block;
	background-color: lightgray;
}

.oam_dropdown{
	position: relative;
	display: inline-block;
}

.oam_drop_opt{
	font-size: 80%;
	width: 100%;
	height: auto;
	text-align: left;
	vertical-align: middle;
	padding: 5px;
	border-bottom: 1px solid gray;
	border-left: 2px solid darkgray;
}

.oam_drop_opt:hover{
	background-color: #f2f2f2;
	border-left: 3px solid black;
}

/* Classes */

.oa_menu {
	height : auto;
}

.menu_topping {
	display: grid;
	grid-template-columns: repeat(3, calc(100%/3));
}

.oam_brand {
	margin : 0px auto 5px;
	border : 1px solid black;
	width : 300px;
	height : 40px;
	background-color : yellow;
	order: 1;
}

.oam_extra {
	order: 0;
}

.oam_user_info {
	text-align: end;
	order: 2;
}

.oam_hello {
	color: white;
	font-weight: 600;
}

.oam_hello a {
	color: white;
	font-weight: 600;
}

.oam_hello a:hover {
	color : yellow;
	
}

.oam_logout a {
	color: white;
	font-weight: 600;
}

.oam_logout a:hover {
	color : yellow;
	
}

.oam_wrapper {
	border : 1px solid black;
	height : 130px;
	margin : 0px auto 5px;
	display : grid;
	grip-gap: 10px;
	grid-template-columns: repeat(6, calc(100%/6));
	padding : 5px;
	background-color : #2d2d2d;
}

.oam_opt {
	margin: auto auto;
	width : 60%;
	height : 90%;
	background-color : lightgray;
    border-radius: 10px;
    border: 1px solid gray;
	transition-duration: 0.2s;
	background-position: 50% 65%;
    background-size: 40%;
    background-repeat: no-repeat;
}

.oam_opt:hover{
    background-color: lightyellow;
	border: 3px solid #2d2d2d;
}

.opt_produto{
    background-image: url("/static/img/bg_menu_produtos.png");
	order: 0;
}

.opt_cliente{
    background-image: url("/static/img/bg_menu_clientes.png");
	order: 1;
}

.opt_vendas{
	background-image: url("/static/img/bg_menu_vendas.png");
	order: 2;
}

.opt_producao{
	background-image: url("/static/img/bg_menu_producao.png");
	order: 3;
}

.opt_home_page {
	background-image: url("/static/img/bg_menu_home.png");
	order: 4;
}

.opt_config{
	background-image: url("/static/img/bg_menu_config.png");
	order: 5;
}

.search_wrapper{
	height : 50px;
	margin : 0px auto 5px;
	display : flex;
	flex-flow : row wrap;
	background-color : lightgray;
	border-radius: 15px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	border-radius: 0;
}

.main_frame{
	width: 100%;
	height: 100%;
	margin: 5px auto;
	border : 1px solid black;
}

.fix_frame {
	left: 0;
	right: 0;
	margin-top: 55px;
	margin-bottom: 20px;
}

.search_part{
	border : 1px solid black;
	width : 33%;
	width : calc(100%/3);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    line-height: 15px;
}

.search_form{
	display : flex;
	justify-content: space-around;
	width : 95%;
}

.search_label {
	font-size: 70%;
}

.search_div {
	margin : auto 5px;
    width: 90%;
}

.search_input{
	margin: auto auto;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 4px;
    font-size: 80%;
}

select.search_input{
    padding: 1px;
}

.search_sel_opt{
}

.search_button_div{
    vertical-align: middle;
    height: auto;
    width: 35px;
    height: 35px;
}

.search_button{
    background-image: url("/static/img/lupinha.png");
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 35px;
    transition-duration: 0.4s;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.search_button:hover{
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 1400px) {
	.oam_drop_div {
		font-size: 78%;
		}
		
	.oam_opt{
		background-size: 39%;
	}
}

@media screen and (max-width: 950px){
	.search_wrapper{
		height : auto;
		margin : 0px auto 5px;
		display : flex;
		flex-flow : row wrap;
		background-color : lightgray;
		border-radius: 15px;
	}
	
	.oam_drop_div {
		font-size: 70%;
	}
}

@media screen and (max-height: 880px) {
	.oam_wrapper{
		height: 20%;
	}
	
}